/* ==UserStyle==
@name           KTH Canvas Dark
@namespace      github.com/aruncveli/userstyles
@version        24.08.26
@description    description
@author         Arun Chandanaveli <aruncveli@gmail.com> (https://github.com/aruncveli)
@homepageURL    https://github.com/aruncveli/userstyles
@supportURL     https://github.com/aruncveli/userstyles/issues
@updateURL      https://github.com/aruncveli/userstyles/raw/main/raw/main/kth-canvas/kth-canvas.user.styl
@license        MIT
@preprocessor   stylus
@var	color	fg	        "Foreground"	            white
@var	color	bg	        "Background"	            black
@var	color	bg1	        "Background lightened 1"	#111111
@var	color	bg2	        "Background lightened 2"	#222222
@var	color	link-color	"Link"                    #0b84ff
@var	color	link-hover	"Link hover"              #409cff
==/UserStyle== */

set-bg(var = bg)
  background var

set-bg1()
  set-bg(bg1)

set-bg2()
  set-bg(bg2)

set-fg()
  color fg

set-bg-fg()
  set-bg()
  set-fg()

@-moz-document domain("canvas.kth.se")
  :root
    color-scheme dark

    --ic-link-color link-color
    --ic-link-color-darkened-10 link-color
    --ic-brand-font-color-dark fg
    --ic-brand-font-color-dark-lightened-15 fg
    --ic-brand-font-color-dark-lightened-30 fg
    --color-on-header fg
    --color-background bg1

  #kpm-6cf53
    --kpmMenuBg bg1
    --kpmPaneBg bg1
    --kpmPaneText fg
    .kth-menu-item.dropdown::after
      set-bg()

  #breadcrumbs
  #ag-list
  #content
  .Day-styles__root
  .EmptyDays-styles__root
  .toolbarView .headerBar
  .header-bar
  .ui-button
  .ToDoSidebarItem__Icon
  select
  .unpinned-discussions-v2__wrapper
  .ic-discussion-row
  .ic-unread-badge__total-count
  .closed-for-comments-discussions-v2__wrapper
  .Button
  .file-upload-submission
  .submission-details-comments .comments
  #right-side .details .header
    set-bg-fg()

  body
    &
    &.is-inside-submission-frame
      set-bg-fg()

  table.summary tbody
    th
    td
      set-bg-fg()

  textarea
    &
    &.ic-Input
      set-bg-fg()

  .ui-tabs
    .ui-tabs-
      &panel
        set-bg-fg()
      &nav
        li
          &:hover
            set-bg()
          &.ui-tabs-active
            &
            &:hover
              set-bg-fg()
            a
              set-fg()

  .btn
    set-bg-fg()
    &:hover
      set-bg1()
      set-fg()

  .accessible-toggler
    set-bg-fg()
    &:hover
      set-fg()

  .Grouping-styles__title
    set-bg-fg()
    &:after
      set-bg()

  .item-group-con
    &tainer
    &densed
      .ig-header
        set-bg-fg()
      .ig-row
        set-bg()

  .list-view a.active
    color link-color
    border-left-color link-color

  .ic-Table.ic-Table--
    &hover-row tbody tr:hover
      set-bg1()
    &striped tbody tr:nth-child(2n + 1)
      set-bg-fg()

  .discussion
    &_entry
    &-reply-box
    &-entries .entry
    &s-v2__container-image
      set-bg-fg()

  .ig-list .ig-row:hover
  .ic-Dashboard-header__layout
  .alert-info
  .module-sequence-footer .module-sequence-footer-content
  .student-groups.show-body .student-group-header
    set-bg()

  .ig-header
    .name
      text-shadow unset
      color unset

  cm = context_module
  #{cm}s
  .{cm}_item
    set-bg()
    &:hover
      set-bg()

  .css-
    &1szthj9-view-link:is(a)
      &
      &:hover
        color link

    ti = -textInput
    fc = __facade
    tgd = -toggleDetails
    bbc = -baseButton__content
    &1gto5tw-tray
    &1ss9wov{ti}{fc}
    &ouw8ib{ti}{fc}
    &x7u86u{tgd}__details
    &1tb4pqb{tgd}__toggle
    &1nbdyko-view-listItem
      set-bg-fg()
    &1eaecfq{bbc}
    &12w1q2i{bbc}
      set-fg()
    &p3olqp{bbc}
      set-bg-fg()
    &10f5v0f-pill
      set-bg-fg()
    &qbjizl-text
    &zlfjpm-text
      set-fg()
    &hrgp63-view
      set-bg()
    &1rpus1y{bbc}
      set-bg-fg()
    &w4688r
    &w2vn1u
      &-view--inlineBlock-baseButton:hover > [class$="{bbc}"]
        set-bg1()
    &1szthj9-view-link:-webkit-any(a)
      color link-color
      &:hover
        color link-hover
    &xu75ed{ti}
      &:i\s
      &:-webkit-any
        &(input)[type]
          set-bg-fg()
    &tpuo6v-text
      set-fg()
    &qk7dyq-view-alert
      set-bg1()
      set-fg()

  st = -styles__
  .Planner
    &Header{st}root
      set-bg()
    &Item{st}due
      set-fg()

  .course-list-
    &table .course-list-table-row:hover
      set-bg1()
    &unpublished-course-row
      set-bg()

  .pages.show .course-title
  .student-groups .student-group-students
    set-fg()

  #syllabus tr.date.related td
  .ic-notification__content
    set-bg1()

@-moz-document url-prefix("https://canvas.kth.se/calendar")
  #calendar-app
    .fc-
      &month-view
        .fc-
          &body
            set-bg()
          &today
            set-bg1()
      &agendaWeek-view .fc-body
        set-bg()

  #minical
    set-bg()
    .fc-toolbar h2
      set-fg()
    .fc-widget-content
      set-fg()

  .fc-state-default
  #create_new_event_link
    set-fg()
  #calendar
    &-list-holder
      set-bg()
    &s-context-list .context_list_context:hover
      set-bg1()
