/* ==UserStyle==
@name           YouGov Dark
@namespace      github.com/aruncveli/userstyles
@version        24.08.05
@description    description
@author         Arun Chandanaveli <aruncveli@gmail.com> (https://github.com/aruncveli)
@homepageURL    https://github.com/aruncveli/userstyles
@supportURL     https://github.com/aruncveli/userstyles/issues
@updateURL      https://github.com/aruncveli/userstyles/raw/main/yougov/yougov.user.styl
@license        MIT
@preprocessor   stylus
@var	color	fg	          "Foreground"	            white
@var	color	bg	          "Background"	            black
@var	color	bg1	          "Background lightened 1"	#111111
@var	color	bg2	          "Background lightened 2"	#222222
@var  color red-override  "Red"                     #ff3b44
==/UserStyle== */

set-bg(var = bg)
  background-color var

set-bg1()
  set-bg(bg1)

set-bg2()
  set-bg(bg2)

set-fg()
  color fg

@-moz-document domain("survey2.yougov.com")
  :root
    color-scheme dark
    --color-grapefruit-300 '%s33' % red-override
    --color-grapefruit-1200 red-override

  body
  select
    set-fg()
    set-bg()

  .response-button
    set-fg()
    set-bg()
    &:hover
      set-bg1()

  label:hover div.uniform-
    &checker span
      set-bg()

  .response-label
    &.selected
      set-bg()
    &:hover
      background-color unset

  .content-wrapper
    set-bg()

  #rankingWidget
    .rank
    .select
      set-bg()

  div.uniform-
    &checker
    &radio
      span
        set-fg()
    &radio span.uniform-checked:not(.hidden-response)
      background-color fg

  .grid-cell label div.uniform-radio > span
    set-bg()

  .question .question-text
  .label-inner
    set-fg()

  .grid-layout
    tr.grid-row th
    .grid-item-text-left
      set-fg()
    tbody tr:hover >
      th
      td
        set-bg1()
      td:hover
        set-bg2()
    tr th.grid-item-text-right
      set-fg()

  .rankSelectionBlock
    set-bg1()

  .grid-container-sticky-header .grid-layout thead
    th
    td
      set-bg1()

  select:hover
    border-color #616e90

  input[type='text']
  input[type='number']
  textarea
    set-fg()
    set-bg1()
    border-color fg
