/* ==UserStyle==
@name           snowfl dark
@namespace      github.com/aruncveli/userstyles
@version        24.10.07
@description    Dark theme for snowfl
@author         Arun Chandanaveli <aruncveli@gmail.com> (https://github.com/aruncveli)
@homepageURL    https://github.com/aruncveli/userstyles
@supportURL     https://github.com/aruncveli/userstyles/issues
@updateURL      https://github.com/aruncveli/userstyles/raw/main/snowfl/snowfl.user.styl
@license        MIT
@preprocessor   stylus
@var color cfg "Foreground" white
@var color cbg "Background" black
@var color cbg1 "Background lightened 1" #111111
@var color cbg2 "Background lightened 2" #222222
@var color link-color	"Link" #0b84ff
==/UserStyle== */

fg()
  color cfg

bgc(color = cbg)
  background-color color

bgc1()
  bgc(cbg1)

bgc2()
  bgc(cbg2)

bc(color=cbg)
  border-color color

bc1(color=cbg)
  bc(cbg1)

bg(color=cbg)
  background color

btn-combi()
  color unset
  bg(cbg2)

ou()
  outline unset

@-moz-document domain("snowfl.com")
  :root
    color-scheme dark

  a
  a:hover
    color link-color

  body
    bgc()
    fg()

  .navbar
    bg()
    border none

  .form-control
    bgc1()
    fg()
    bc1()
    &::placeholder
      color unset
    &:focus
      bgc2()
      bc1()
      box-shadow unset
    &[disabled]
      bgc2()
    // stylelint-disable-next-line stylus/selector-type-no-unknown
    opt
      &ion
      &group
        bgc()

  .btn-default
    fg()
    bg(cbg1)
    bc1()
    &:hover
    &:focus
      btn-combi()
    &:active
      &,
      &:hover
        btn-combi()
    &[disabled]
      &
      &:hover
        btn-combi()
    &:active:focus
      ou()
      btn-combi()

  .btn:focus
    ou()

  img.spinner
    filter invert(1)

  #newsfeed
    background cbg !important
    color cfg !important
    a
      color cfg !important
