name: "Checks"
on:
  push:
    paths-ignore:
      - "**.png"
  pull_request:
    paths-ignore:
      - "**.png"
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install --frozen-lockfile
      - run: bun check
